{% extends 'base.html' %}
{% block container %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" href="{% url 'mycompany' %}">1. Информация о&nbsp;компании</a>
            <a class="nav-link active" href="#">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">
            <!-- Tab -->
            <section>
             <form method="post">
               {% csrf_token %}
                <h2 class="h4 pt-2 pb-3">Backend Middle/Senior</h2>
                <p class="alert alert-info" role="alert">Вакансия обновлена</p>
                <!--<form action="/echo">-->
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group pb-2">
                        {{ form.title.errors }}
                        <label class="mb-2 text-dark" for="{{ form.title.id_for_label }}">Название вакансии</label>
                        <!--<input class="form-control" type="text" value="Staffing Smarter" id="vacancyTitle">-->
                        {{ form.title }}
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group pb-2">
                        {{ form.speciality.errors }}
                        <label class="mb-2 text-dark" for="{{ form.speciality.id_for_label }}">Специализация</label><br>
                         {{ form.speciality }}
                        <!--<select class="custom-select mr-sm-2" id="userSpecialization">
                          <option selected>Backend разработка</option>
                          <option value="1">Frontend разработка</option>
                          <option value="2">Project manager</option>
                        </select>-->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group pb-2">
                         {{ form.salary_min.errors }}
                        <label class="mb-2 text-dark" for="{{ form.salary_min.id_for_label }}">Зарплата от</label><br>
                        <!--<input class="form-control" type="text" value="90 000" id="vacancySalaryMin">-->
                         {{ form.salary_min }}
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group pb-2">
                         {{ form.salary_max.errors }}
                        <label class="mb-2" for="{{ form.salary_max.id_for_label }}">Зарплата до</label><br>
                        <!--<input class="form-control" type="text" value="90 000" id="vacancySalaryMax">-->
                        {{ form.salary_max }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group pb-2">
                    {{ form.skils.errors }}
                    <label class="mb-2 text-dark" for="{{ form.skils.id_for_label }}">Требуемые навыки</label><br>
                    <!--<textarea class="form-control" rows="3" id="vacancySkills" style="color:#000;">Бэкенд • Средний (Middle) • PHP • PostgreSQL • MySQL • Node.js • Laravel • Symfony • Yii framework • Sails.js • Rabbitmq • Kafka</textarea>-->
                    {{ form.skils }}
                  </div>
                  <div class="form-group pb-2">
                    {{ form.description.errors }}
                    <label class="mb-2 text-dark" for="{{ form.description.id_for_label }}">Описание вакансии</label><br>
                    <!--<textarea class="form-control" rows="13" id="vacancyDescription" style="color:#000;">Финтех компания входит в международную группу  и занимается развитием факторингового бизнеса. В связи с расширением штата, мы хотим усилить нашу команду Backend-разработчиком, для работы над улучшением продуктов компании.

  Мы предлагаем:
  Оформление по ТК РФ
  ДМС со стоматологией
  Достойную зарплату, уровень которой можно обсудить по телефону с рекрутером
  Гибкое начало дня, отдельные дни удаленной работы обсуждаются
  Современный офис
  Демократичную корпоративную культуру
  Работу в команде по Scrum
                    </textarea>-->
                    {{ form.description }}
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Сохранить">
                  </div>
              </form>
              <!-- END Vacancy info -->
             <!--</form>-->
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
